* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
@font-face {
    font-family: "Rosso";
    src: url(fonts/RussoOne-Regular.ttf);
}
body  {
    background-color: rgb(24, 24, 24);
}
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
video {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
    overflow: hidden;
}
.bgtext {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* visibility: hidden; */
}
#hero_section {
    
    height: 100vh;
    background-image: url(bg3.jpg);
    background-size: cover;
    background-size: 100% ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;

}
#hero_section h1 {
    color: rgba(46, 46, 46, 0.678);
    font-size: 204px;
    font-family: Rosso;
    position: absolute;
    z-index: 1;
    letter-spacing: 40px;
}
.social_links {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.637);
    /* visibility: hidden; */
    z-index: 2;
}
.socials li a {
    text-decoration: none;
    font-family: 'Rosso';
    line-height: 46px;
    letter-spacing: 5px;
    padding: 5px 21px 5px 25px;
    transition: 0.4s;
    color: white;
    border-radius: 5px;
}
.socials li a:hover {
    background-color: rgba(85, 85, 85, 0.932);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.socials {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
@media (max-width: 990px) {
    .socials li a {
        font-size: 14px;
    }
    .socials {
        width: 90%;
    }
    #hero_section h1 {
        font-size: 160px;
        letter-spacing: 40px;
    }
}
@media (max-width: 820px) {
    .socials li a {
        font-size: 14px;
        letter-spacing: 3px;
    }
    .socials {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .social_links {
        height: 300px;
    }
    video {
        margin: 0 auto;
        display: block;
    }
    #hero_section h1 {
        font-size: 120px;
        letter-spacing: 40px;
        margin-right: -40px;
    }
}
@media (max-width: 690px) {
    .socials li a {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .socials {
        width: 80%;
    }
    #hero_section h1 {
        font-size: 80px;
        letter-spacing: 40px;
        margin-right: -50px;
    }
}

@media (max-width: 540px) {
    #hero_section h1 {
        font-size: 70px;
        letter-spacing: 20px;
        margin-right: -30px;
    }
}
@media (max-width: 390px) {
    #hero_section h1 {
        font-size: 40px;
        letter-spacing: 20px;
        margin-right: -30px;
    }
}
@media (max-width: 300px) {
    #hero_section h1 {
        font-size: 30px;
        letter-spacing: 20px;
        margin-right: -30px;
    }
}