* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
@font-face {
    font-family: "Rosso";
    src: url(fonts/RussoOne-Regular.ttf);
}
body  {
    background-color: rgb(24, 24, 24);
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bgtext {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#hero_section {
    height: 100vh;
    background: url(3f34ef20faa9d197bb741c806f7a460e4887fa98_hq.gif)  no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#hero_section h1 {
    color: rgba(27, 27, 27, 0.678);
    font-size: 204px;
    font-family: Rosso;
    position: absolute;
}
.social_links {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.637);
    visibility: hidden;
}
.socials li a {
    text-decoration: none;
    font-family: 'Rosso';
    line-height: 46px;
    letter-spacing: 5px;
    padding: 5px 21px 5px 25px;
    transition: 0.5s;
    color: white;
    border-radius: 5px;
}
.socials li a:hover {
    background-color: rgba(85, 85, 85, 0.932);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.socials {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.hijemsy {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadein 10s;
    -moz-animation: fadein 10s;
     -ms-animation: fadein 10s;
      -o-animation: fadein 10s;
         animation: fadein 10s;
}
@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}
@-o-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    opacity: 0.7;
  }
  @media (max-width: 990px) {
    .socials li a {
        font-size: 14px;
    }
    .socials {
        width: 90%;
    }
    h1 span {
        font-size: 160px;
    }
}
@media (max-width: 820px) {
    .socials li a {
        font-size: 14px;
    }
    .socials {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .social_links {
        height: 300px;
    }
    h1 span {
        font-size: 120px;
    }
}
@media (max-width: 690px) {
    .socials li a {
        font-size: 16px;
    }
    .socials {
        width: 80%;
    }
    h1 span {
        font-size: 80px;
    }
}

@media (max-width: 540px) {
    h1 span {
        font-size: 70px;
    }
}
@media (max-width: 390px) {
    h1 span {
        font-size: 40px;
    }
}
@media (max-width: 300px) {
    h1 span {
        font-size: 30px;
    }
}