* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
@font-face {
    font-family: "Rosso";
    src: url(fonts/RussoOne-Regular.ttf);
}
body  {
    background-color: rgb(24, 24, 24);
}
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bgtext {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#hero_section {
    height: 100vh;
    background: url(bg3.jpg)  no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#hero_section h1 {
    color: rgba(46, 46, 46, 0.678);
    font-size: 204px;
    font-family: Rosso;
    position: absolute;
    letter-spacing: 40px;
    margin-right: -30px;
}
.social_links {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.637);
}
.socials li a {
    text-decoration: none;
    font-family: 'Rosso';
    line-height: 46px;
    letter-spacing: 5px;
    padding: 5px 21px 5px 25px;
    transition: 0.5s;
    color: white;
    border-radius: 5px;
}
.socials li a:hover {
    background-color: rgba(85, 85, 85, 0.932);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.socials {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.hijemsy {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
    font-family: 'Teko', sans-serif;
    font-size: 218px;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
    opacity: 0.7;
  }
  a {
    font-family: 'Teko', sans-serif;
    color: #82898a;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    justify-self: center;
    opacity: 0.7;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #999999;
    }
    to {
      text-shadow: 0 0 30px #a7a7a7, 0 0 10px #d0d3d3;
    }
  }







  @media (max-width: 990px) {
    .socials li a {
        font-size: 14px;
    }
    .socials {
        width: 90%;
    }
    h1 span {
        font-size: 160px;
        letter-spacing: 40px;
    }
}
@media (max-width: 820px) {
    .socials li a {
        font-size: 14px;
        letter-spacing: 3px;
    }
    .socials {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .social_links {
        height: 300px;
    }
    h1 span {
        font-size: 120px;
        letter-spacing: 40px;
    }
}
@media (max-width: 690px) {
    .socials li a {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .socials {
        width: 80%;
    }
    h1 span {
        font-size: 80px;
        letter-spacing: 40px;
    }
}

@media (max-width: 540px) {
    h1 span {
        font-size: 70px;
        letter-spacing: 20px;
    }
}
@media (max-width: 390px) {
    h1 span {
        font-size: 40px;
        letter-spacing: 20px;
    }
}
@media (max-width: 300px) {
    h1 span {
        font-size: 30px;
        letter-spacing: 20px;
    }
}